xml/csi-qframe-v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:csi="http://www.csinitiative.com/ns/csi-qframe"
targetNamespace="http://www.csinitiative.com/ns/csi-qframe"
elementFormDefault="qualified"
>

  <xs:element name="questionnaire">
    <xs:complexType>
      <xs:all>
        <xs:element name="tabs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tab" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="tabHeader" type="xs:string"/>
                    <xs:element name="tabGUID">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="2147483647"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="seqNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="2147483647"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="headerText" type="xs:string" minOccurs="0"/>
                    <xs:element name="footerText" type="xs:string" minOccurs="0"/>
                    <xs:element name="cloneable" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:enumeration value="0"/>
                          <xs:enumeration value="1"/>
                        </xs:restriction>
                       </xs:simpleType>
                    </xs:element>
                    <xs:element name="defaultTabHidden" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:enumeration value="0"/>
                          <xs:enumeration value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="tabReferences" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="shortName">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="8"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="referenceName">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="80"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="item" type="xs:string" minOccurs="0"/>
                                <xs:element name="referenceURL" type="xs:string" minOccurs="0"/>
                                <xs:element name="referenceText" type="xs:string" minOccurs="0"/>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sections" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="section" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="sectionHeader" type="xs:string"/>
                                <xs:element name="sectionGUID">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:minInclusive value="1"/>
                                      <xs:maxInclusive value="2147483647"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="seqNumber">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:minInclusive value="1"/>
                                      <xs:maxInclusive value="2147483647"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="description" type="xs:string" minOccurs="0"/>
                                <xs:element name="cloneable" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:enumeration value="0"/>
                                      <xs:enumeration value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="defaultSectionHidden" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                      <xs:enumeration value="0"/>
                                      <xs:enumeration value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="sectionReferences" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="shortName">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="8"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="referenceName">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="80"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="item" type="xs:string" minOccurs="0"/>
                                            <xs:element name="referenceURL" type="xs:string" minOccurs="0"/>
                                            <xs:element name="referenceText" type="xs:string" minOccurs="0"/>
                                          </xs:all>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="questions" minOccurs="0">
                                  <xs:complexType>
                                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                                      <xs:element name="question">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="qText" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="questionGUID">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:minInclusive value="1"/>
                                                  <xs:maxInclusive value="2147483647"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="seqNumber">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:minInclusive value="1"/>
                                                  <xs:maxInclusive value="2147483647"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="questionNumber" type="xs:string" minOccurs="0"/>
                                            <xs:element name="cloneable" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:enumeration value="0"/>
                                                  <xs:enumeration value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="defaultQuestionHidden" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:enumeration value="0"/>
                                                  <xs:enumeration value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="questionReferences" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:all>
                                                        <xs:element name="shortName">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="8"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="referenceName">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="80"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="item" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="referenceURL" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="referenceText" type="xs:string" minOccurs="0"/>
                                                      </xs:all>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="questionType">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:enumeration value="D"/>
                                                  <xs:enumeration value="S"/>
                                                  <xs:enumeration value="M"/>
                                                  <xs:enumeration value="T"/>
                                                  <xs:enumeration value="V"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="questionPrompt" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="promptText">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="25"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="requireAdditionalInfo" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:integer">
                                                        <xs:enumeration value="0"/>
                                                        <xs:enumeration value="1"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="enableTab" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="enableSection" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="enableQuestion" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="disableTab" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="disableSection" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                  <xs:element name="disableQuestion" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="responses" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="state" type="xs:string" minOccurs="0"/>
                                                  <xs:element name="additionalInfo" type="xs:string" minOccurs="0"/>
                                                  <xs:element name="approverComments" type="xs:string" minOccurs="0"/>
                                                  <xs:element name="response" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:all>
                                                        <xs:element name="responseDate" type="xs:dateTime"/>
                                                        <xs:element name="responseText" type="xs:string"/>
                                                      </xs:all>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="attachments" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="attachment" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:all>
                                                        <xs:element name="filename">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="256"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="mime">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="32"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="location">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="512"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                      </xs:all>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="questionGroup">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="qText" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="questionGUID">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:minInclusive value="1"/>
                                                  <xs:maxInclusive value="2147483647"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="seqNumber">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:minInclusive value="1"/>
                                                  <xs:maxInclusive value="2147483647"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="groupQuestionNumber" type="xs:string" minOccurs="0"/>
                                            <xs:element name="cloneable" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:enumeration value="0"/>
                                                  <xs:enumeration value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="groupDefaultQuestionHidden" minOccurs="0">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:integer">
                                                  <xs:enumeration value="0"/>
                                                  <xs:enumeration value="1"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:element>
                                            <xs:element name="groupQuestionReferences" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:all>
                                                        <xs:element name="shortName">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="8"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="referenceName">
                                                          <xs:simpleType>
                                                             <xs:restriction base="xs:string">
                                                               <xs:minLength value="1"/>
                                                               <xs:maxLength value="80"/>
                                                           </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="item" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="referenceURL" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="referenceText" type="xs:string" minOccurs="0"/>
                                                      </xs:all>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="attachments" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="attachment" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:all>
                                                        <xs:element name="filename">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="256"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="mime">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="32"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="location">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="512"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                      </xs:all>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="question" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="qText" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="questionGUID">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:integer">
                                                        <xs:minInclusive value="1"/>
                                                        <xs:maxInclusive value="2147483647"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="seqNumber">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:integer">
                                                        <xs:minInclusive value="1"/>
                                                        <xs:maxInclusive value="2147483647"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="questionNumber" type="xs:string" minOccurs="0"/>
                                                  <xs:element name="defaultQuestionHidden" minOccurs="0">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:integer">
                                                        <xs:enumeration value="0"/>
                                                        <xs:enumeration value="1"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="questionReferences" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="reference" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:all>
                                                              <xs:element name="shortName">
                                                                <xs:simpleType>
                                                                  <xs:restriction base="xs:string">
                                                                    <xs:minLength value="1"/>
                                                                    <xs:maxLength value="8"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="referenceName">
                                                                <xs:simpleType>
                                                                  <xs:restriction base="xs:string">
                                                                    <xs:minLength value="1"/>
                                                                    <xs:maxLength value="80"/>
                                                                  </xs:restriction>
                                                                </xs:simpleType>
                                                              </xs:element>
                                                              <xs:element name="item" type="xs:string" minOccurs="0"/>
                                                              <xs:element name="referenceURL" type="xs:string" minOccurs="0"/>
                                                              <xs:element name="referenceText" type="xs:string" minOccurs="0"/>
                                                            </xs:all>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="questionType">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:enumeration value="D"/>
                                                        <xs:enumeration value="S"/>
                                                        <xs:enumeration value="M"/>
                                                        <xs:enumeration value="T"/>
                                                        <xs:enumeration value="V"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="questionPrompt" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="promptText">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                              <xs:minLength value="1"/>
                                                              <xs:maxLength value="25"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="requireAdditionalInfo" minOccurs="0">
                                                          <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                              <xs:enumeration value="0"/>
                                                              <xs:enumeration value="1"/>
                                                            </xs:restriction>
                                                          </xs:simpleType>
                                                        </xs:element>
                                                        <xs:element name="enableTab" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="enableSection" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="enableQuestion" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="disableTab" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="disableSection" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                        <xs:element name="disableQuestion" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="responses" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="state" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="additionalInfo" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="approverComments" type="xs:string" minOccurs="0"/>
                                                        <xs:element name="response" minOccurs="0" maxOccurs="unbounded">
                                                          <xs:complexType>
                                                            <xs:all>
                                                              <xs:element name="responseDate" type="xs:dateTime"/>
                                                              <xs:element name="responseText" type="xs:string"/>
                                                            </xs:all>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:choice>
                                  </xs:complexType>
                                  <xs:unique name="questionSeqNumberKey">
                                    <xs:selector xpath="./csi:question | ./csi:questionGroup | ./csi:questionGroup/csi:question"/>
                                    <xs:field xpath="csi:seqNumber"/>
                                  </xs:unique>
                                  <xs:unique name="questionNumberKey">
                                    <xs:selector xpath="./csi:question | ./csi:questionGroup | ./csi:questionGroup/csi:question"/>
                                    <xs:field xpath="csi:questionNumber"/>
                                  </xs:unique>
                                  <xs:key name="questionGUIDKey">
                                    <xs:selector xpath="./csi:question | ./csi:questionGroup | ./csi:questionGroup/csi:question"/>
                                    <xs:field xpath="csi:questionGUID"/>
                                  </xs:key>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                            <xs:unique name="sectionSeqNumberKey">
                              <xs:selector xpath="./csi:section"/>
                              <xs:field xpath="csi:seqNumber"/>
                            </xs:unique>
                            <xs:key name="sectionGUIDKey">
                              <xs:selector xpath="./csi:section"/>
                              <xs:field xpath="csi:sectionGUID"/>
                            </xs:key>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:unique name="tabSeqNumberKey">
            <xs:selector xpath="./csi:tab"/>
            <xs:field xpath="csi:seqNumber"/>
          </xs:unique>
          <xs:key name="tabGUIDKey">
            <xs:selector xpath="./csi:tab"/>
            <xs:field xpath="csi:tabGUID"/>
          </xs:key>
          <xs:keyref name="disableTab2tabGUID" refer="csi:tabGUIDKey">
            <xs:selector xpath=".//csi:questionPrompt"/>
            <xs:field xpath="csi:disableTab"/>
          </xs:keyref>
        </xs:element>
      </xs:all>
      <xs:attribute name="questionnaireName" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="questionnaireVersion" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="instanceName" default=""/>
      <xs:attribute name="revision" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="32768"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="targetQFrameVersion" use="required" fixed="1.0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
